<footer>
    <div class="container-f">
        <div class="box">
            <h3>About Us</h3>
            <p>Glam-it-up is a brand which sells wide range of luxurious and organic
            personal care products which are dermatologically tested.</p>
            <button class="btn btn-secondary"><a href="aboutus">Read More</a></button>
        </div>
        <div class="box">
            <h3>Information</h3>
            <ul>
                <li><a href="consumerpolicy">Consumer Policy</a></li>
                <li><a href="blogmain">Blog</a></li>
                <li><a href="contactus">Contact us</a></li>
            </ul>
        </div>
        <div class="box">
            <h3>Follow Us</h3>
                <ul>
                    <li><a href="#">
                        <img src="/images/facebook.png" width="13%" height="30px">
                        <span>Facebook</span>
                    </a></li>
                    <li><a href="#">
                        <img src="/images/google.png" width="13%" height="30px">
                        <span>Google</span>
                    </a></li>
                    <li><a href="#">
                        <img src="/images/instagram.png" width="13%" height="30px">
                        <span>Instagram</span>
                    </a></li>
                </ul>
        </div>
        
    </div>
</footer>
<footer class="copyright">
    <div>
        Copyright @ 2021.All rights reserved by glamitup.
    </div>
</footer>