<div class="container-fluid">
    <!--logo part-->

    
    <div class="top">
    
        <div class="logo"> <img  src="/images/logo.jpeg"></div>
  
    </div>     


        <!--menu-->
        <div class="navbar">
            <nav>
                <ul>
    
                        <li><a class="active" href="/">HOME</a></li>
    
                        <li>
                            <a href="#">BODY&BATH 
                            <i class="fa fa-caret-down"></i>
                            </a>
                            <ul>
                                <li><a href="/showergelallproducts">Shower Gel</a></li>
                                <li><a href="/bodysoapallproducts">Body Soap</a></li>
                                <li><a href="/bodyscruballproducts">Body Scrub</a></li>
                                <li><a href="/bodybutterallproducts">Body Butter</a></li>
                                <li><a href="/bodylotionallproducts">Body Lotion</a></li>
                                
                            </ul>
                        </li>
                        
    
                        <li>
                            <a href="#">HAIR CARE
                            <i class="fa fa-caret-down"></i>
                            </a>
                            <ul>
                                <li><a href="/shampooallproducts">Shampoo</a></li>
                                <li><a href="/conditionerallproducts">Conditioner</a></li>
                                <li><a href="/hairoilallproducts">Hair Oil</a></li>
                                <li><a href="/hairserumallproducts">Hair Serum</a></li>
                            </ul>
                        </li>
                        <li>
                            <a href="#">SKIN CARE 
                            <i class="fa fa-caret-down"></i>
                            </a>
                            <ul>
                                <li><a href="/facewashallproducts">Face Wash</a></li>
                                <li><a href="/faceserumallproducts">Face Serums</a></li>
                                <li><a href="/facescruballproducts">Face Scrub</a></li>
                                <li><a href="/facemaskallproducts">Face Mask</a></li>
                            </ul>
                        </li>
    
                        <li>
                            <a href="#">FRAGRANCE 
                            <i class="fa fa-caret-down"></i>
                            </a>
                            <ul>
                                <li><a href="/perfumeallproducts">Perfume</a></li>
                                <li><a href="/bodymistallproducts">Body Mist</a></li>
                            </ul>
                        </li>
                        <li><a href="blog">BLOG</a></li>
                        <li><a href="aboutus">ABOUT US</a></li>
                        <li><a href="contactus">CONTACT US</a></li>
                </ul>
    
            </nav>

        </div>
        
        
</div> 