<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About Us</title>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.8/css/all.css" integrity="sha384-3AB7yXWz4OeoZcPbieVW64vVXEwADiYyAEhwilzWsLw+9FgqpyjjStpPnpBO8o8S" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css" />
    <link rel="stylesheet" href="/css/style.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>  
</head>
<body>
    <!--Navigation bar-->
        <!-- <div id="nav-placeholder">

        </div>

        <script>
            $(function(){
            $("#nav-placeholder").load("nav.html");
            });
        </script> -->
    <!--end of Navigation bar-->
    <%- include('includes/nav') %>


    
    <div class="about-container">
        <h1>About Us</h1>
        <br>
        <p>Glam-it-up is a brand which sells wide range of luxurious and organic
            personal care products which are dermatologically tested.Our products are made of all natural ingredients with no harmful 
            chemicals. We assured that our products are dermatologically tested.</p>
        <br>
        <p><strong>Vision:</strong></p>
            <p>We strive to create products thar are beautiful and bring a very special 
            experience to our customers and everybody around them. The quality 
            of natural, organic ingredients and usage of essential oils, our 
            innovative approach, unique products targeting various markets, 
            personalized products and competitive pricing are all reasons of why 
            Glam it up is different.
            </p>
        <br>
    
        <p><strong>Quality Control:</strong></p>
        <p>Our products are made of all natural ingredients with no harmful 
            chemicals. We assured that our products are dermatologically tested 
            and totally safe for all types. Manufacturing and packaging of 
            products are done with proper safety measures. We 
            provide shipping with all precautions. Consumer safety is our best 
            interest.
            </p>
        <br>
        
    </div>
    


    <%- include('includes/footer') %>
</body>
</html>