<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1" name="viewport" />

    <title>Glam Blogs</title>


    
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.8/css/all.css" integrity="sha384-3AB7yXWz4OeoZcPbieVW64vVXEwADiYyAEhwilzWsLw+9FgqpyjjStpPnpBO8o8S" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css" />
    <link rel="stylesheet" href="/css/style.css">
    <link href="https://allfont.net/allfont.css?fonts=raleway-bold" rel="stylesheet" type="text/css" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>  
</head>
<body>

    <%- include('includes/nav') %>

<main class="blog-grid-container">

    <section class="blog-post">
        <img src="./images/impp.jpg" class="blog-cover-img"/>
        <div class="blog-content">
            <h3 style="color: #d4af37;">The Importance Of Skin Exfoliation</h3>
            <h5>September 23, 2021</h5>
            <p class="blog-content-description">Get softer, smoother skin all over the body scrub exfoliation agent just a facial skin.A body scrub is a specialist skincare formulation...<a href="blog1">Read More</a></p>
        </div>
    </section>


    <section class="blog-post">
        <img src="./images/hair.jpg" class="blog-cover-img"/>
        <div class="blog-content">
            <h3 style="color: #d4af37;"> Hair Care
            </h3>
            <h5>September 23, 2021</h5>
            <p class="blog-content-description">Hair care is important for not only our appearance, but also for our overall hygiene. Having healthy hair allows us to look our best and..<a href="blog2">Read More</a></p>
        </div>
    </section>


    <section class="blog-post">
        <img src="./images/perfume.jpg" class="blog-cover-img"/>
        <div class="blog-content">
            <h3 style="color: #d4af37;">All About Perfumes</h3>
            <h5>September 23, 2021</h5>
            <p class="blog-content-description">Floral, Gourmand, Chypre, Fruit....and the list goes on.  With so many perfume options out there and so many decisons to make and sometimes... <a href="blog3">Read More</a></p>
        </div>
    </section>
    
    <section class="blog-post">
        <img src="./images/mix.jpg" class="blog-cover-img"/>
        <div class="blog-content">
            <h3 style="color: #d4af37;">Herbal Care</h3>
            <h5>September 23, 2021</h5>
            <p class="blog-content-description">Certified organic products are derived from plants and other naturally occurring ingredients. More importantly, those organic ingredients are... <a href="blog4">Read More</a></p>
        </div>
    </section>

    <section class="blog-post">
        <img src="./images/drop.jpg" class="blog-cover-img"/>
        <div class="blog-content">
            <h3  style="color: #d4af37;">Serums</h3>
            <h5>September 23, 2021</h5>
            <p class="blog-content-description">Facial serums: one of those things that I think everyone *pretends * to know what they are...but really have no idea. But today I'm gonna break it DOWN...<a href="blog5">Read More</a></p>
        </div>
    </section>
    <section class="blog-post">
        <img src="./images/coffee.jpg" class="blog-cover-img"/>
        <div class="blog-content">
            <h3 style="color: #d4af37;">Coffee is Refreshing</h3>
            <h5>September 23, 2021</h5>
            <p class="blog-content-description">Our day wouldn’t be the same without that first cup of coffee in the morning. The fresh aroma and bitter taste get us ready to tackle what lies ahead... <a href="blog6">Read More</a></p>
        </div>
    </section>
    

</main>

<div class="clear-div"></div>

<%- include('includes/footer') %>


</body>
</html>