<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Consumer Policy</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.8/css/all.css" integrity="sha384-3AB7yXWz4OeoZcPbieVW64vVXEwADiYyAEhwilzWsLw+9FgqpyjjStpPnpBO8o8S" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css" />
    <link rel="stylesheet" href="/css/style.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>  
</head>
<body>
    <%- include('includes/nav') %>

        
<div class="cp-container">
    
    <h1>CONSUMER POLICY</h1>
    <br>
    <p><strong>Cancellation Policy:</strong></p>
    <p>
        Orders once dispatched are not eligible for cancellation.In case of a return or cancellation, the refund shall be initiated post the return of product to us and verification of the product and packing.
    </p>
    <br>
    <p><strong>Return & Exchange Policy:</strong></p>
    <p>Glam-It-Up products are non-returnable due to hygiene/health and personal are/wellness/consumable nature of the product.</p>
    <p>In case you would want a refund or replacement, Contact us by sending us a message <a href="contactus">Contact Us</a>. We would require 48-72 hours to revert.</p>
    <p>You will be eligible for full refund or exchange without incurring any additional charges if it is the case of:<br>
       <ul> 
           <li>Package has accessories missing.</li>
           <li>Damaged or broken bottles/pack.</li>
           <li>Wrong product delivery.</li>
           <li>Expired product delivery.</li>

    </ul>
    </p>
    <p>In case you received a wrong product, we request you to keep the product safe, saleable and undamaged in its original packaging. Retain the invoice and original manufacturer’s packing for successful pick-up and return.</p>
    <br>
    <p><strong>Refund Policy:</strong></p>
    <p>We may contact you to ascertain the damage or defect in the product prior to issuing refund/replacement.
        Refunds will be through bank transfers. No cash refunds will be made. It would take our team at least 5 to 7 business days post refund initiation for online refund to be initiated.
        In case of NEFT, it would require us at least 3 to 5 business days post refund initiation to refund your amount. For Prepaid orders the amount shall be credited to your account through which the payment was done. It may take 7-10 business days for the amount to reflect in your account.</p>

   

</div>

<!-- footer menu -->
<%- include('includes/footer') %>

</body>
</html>