<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1" name="viewport" />

    <title>Serums</title>
    

    <link rel="stylesheet" href="../css/style.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.8/css/all.css" integrity="sha384-3AB7yXWz4OeoZcPbieVW64vVXEwADiYyAEhwilzWsLw+9FgqpyjjStpPnpBO8o8S" crossorigin="anonymous">

</head>
<body>



<main class="container">
    <div class="custom-container">
        <h1 style="color: #d4af37"></h1>>Serums</h1>
        <h6>Last Updated: September 23, 2021</h6>
        <img src="../images/drop.jpg" class="blog-page-cover" height="450px" width="700px">
        <span class="blog-content">
            <div class="blank"></div>
            <p>Facial serums: one of those things that I think everyone *pretends * to know what they are...but really have no idea. But today I'm gonna break it DOWN. Are they a moisturizer? (Sort of). Are they an oil? (Sometimes.) Do they have magical ingredients that will turn my skin into a sparkling Jennifer Lopez clone? (Honestly? YASSSS.)</p>
            <div class="blank"></div>
            
            <p>
                <h3>what is a serum?</h3>
            </p>
            <div class="normal"></div>
            
                <p>
                    Serums are highly-concentrated concoctions with the intent of delivering powerful ingredients directly into the skin. Serums allow you to focus on a specific skin concern (wrinkles, discoloration, acne, etc.) and target that directly. Serums can penetrate  deeply into the skin (because their molecular size is v v small) and deliver a very high concentration of active ingredients which makes them mega effective. AKA—nothing diluted and weak about them. They’re like a super-powerful, super-specific recipe MADE to target a skin issue—and solve it.Serums can be oil-based and/or full of moisturizing compounds...it just depends on which one you get! Technically speaking, they can add  moisture, but are not substitutes for your moisturizer. Think of the serum as the powerful ingredient that you want to go deeeeep into your skin, and a good rich, moisturizer can be used to create a barrier on top of the skin to keep all that serum-y goodness in.
                </p>
        
             <div class="blank"></div>
            
                 <p>
                     <h3>How To Get The Most Out Of A Serum?</h3>
                 </p>
                 <div class="normal"></div>
                <p>
                <p><strong>Less is more:</strong>Don't apply too much serum as they contain potent ingredients. Applying excess quantities can irritate the skin.</p>
                <p><strong>Cleanse first:</strong>The powerful ingredients in face serums might stick to dirt and dead skin. Thus to let it get absorbed properly into the skin, make sure to cleanse your face thoroughly before applying a serum. Use tepid water to wash your face. Hot water can make your skin sweat, therefore, restricting absorption while cold water can close pores thus blocking the goodness of the serum.</p> 
                <p><strong>Apply to damp skin:</strong> For dry skin, apply serum when it is still damp because the moisture makes it easy for penetration. For sensitive skin, allow your skin to dry before applying serum. Doing so will slow down the penetration of serum which is more likely to lead to irritation.</p>
                <p><strong>Avoid colors and fragrances:</strong>  Serums are packed with potent ingredients. The extra fragrances and colors interfere with absorption of the product.</p>
                <p><strong>Don't apply serums after moisturizers:</strong>Moisturizers or face oils are thick skincare products that seal in other skincare products you apply before them. Serums on the other hand are lightweight and can't penetrate the barrier created by heavy moisturizers or face oils. So applying them before a moisturizer does no good to your skin.

                </p>
                 
                </p>
                 <div class="blank"></div>

                 <p>
                    <h3>What Is The Best Face Serum?</h3>
                </p>
                <div class="normal"></div>
                    <p>
                        There are plenty of face serums available in the market that target skin concerns like fine lines, wrinkles, dark spots, skin dullness and so on. Choose a serum that contains ingredients suitable for your skin type.</p>

                 <div class="blank"></div>
        </span>
    </div>
</main>

<div class="clear-div"></div>


</body>
</html>