<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1" name="viewport" />

    <title>Herbal Care</title>
    

    <link rel="stylesheet" href="../css/style.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.8/css/all.css" integrity="sha384-3AB7yXWz4OeoZcPbieVW64vVXEwADiYyAEhwilzWsLw+9FgqpyjjStpPnpBO8o8S" crossorigin="anonymous">

</head>
<body>



<main class="container">
    <div class="custom-container">
        <h1 style="color: #d4af37"></h1>>Herbal Care</h1>
        <h6>Last Updated: September 23, 2021</h6>
        <img src="../images/mix.jpg" class="blog-page-cover" height="450px" width="700px">
        <span class="blog-content">
            <div class="blank"></div>
            <p>Certified organic products are derived from plants and other naturally occurring ingredients. More importantly, those organic ingredients are grown without the use of pesticides, herbicides, synthetic fertilizers, genetically modified organisms (GMOs), and other additives or chemicals. With that, you can be sure your skin and body absorb only real, natural ingredients that aren’t harmful.</p>
            <div class="blank"></div>
            
            <p>
                <h3>Organic products are non-allergenic:</h3>
            </p>
            <div class="normal"></div>
            
                <p>Without harsh chemicals, organic skincare products are less likely to cause allergic reactions, inflammations or irritations. If an allergic reaction does occur with the use of organic products, it would most likely be due to a natural ingredient (such as peanuts or strawberries), which would be easier to identify.</p>

        
             <div class="blank"></div>
            
                 <p>
                     <h3> Organic skincare products work better:</h3>
                 </p>
                 <div class="normal"></div>
                 <p>Plants grown organically are found to contain a higher level of vital antioxidant vitamins than non-organic plants. Because they are grown without herbicides and pesticides, their organic ingredients are also free from that contamination, which means the same for your skin and body.Moreover, up to 95% of an organic skincare product’s contents are active ingredients. In synthetic skincare products, on the other hand, active ingredients only make up 5 to 10% of its contents.</p>
                 <div class="blank"></div>

                 <p>
                    <h3>Going organic is better for your skin:</h3>
                </p>
                <div class="normal"></div>
                    <p>
                        The synthetic ingredients found in non-organic products may be fast-acting, but they are also invasive, causing harm that cannot be seen. Their chemical ingredients may provide instant gratification and visible results, but most of this only helps you aesthetically by smoothening out wrinkles, removing sunspots, and diminishing blemishes.
                        With prolonged use, these chemicals may damage and weaken your skin as your body tries to cope with these foreign substances. As a result, oxygen exchange to the skin is reduced, causing premature aging and increased risk of developing sunspots.
                        Using natural, organic skincare products, though, ensure that you get the real nutritional benefits from its ingredients. Natural organic ingredients such as coconut oil, honey, aloe vera, and shea butter, for example, are known to soothe, nourish, moisturize and promote smooth skin. Even though the results may be slower, organic skincare products are gentle on your skin and won’t harm you in the long run.
                    </p>

                 <div class="blank"></div>
        </span>
    </div>
</main>

<div class="clear-div"></div>


</body>
</html>