<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>GLAM-IT-UP</title>
        <link rel="stylesheet" href="https://unpkg.com/swiper@7/swiper-bundle.min.css" />
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.8/css/all.css" integrity="sha384-3AB7yXWz4OeoZcPbieVW64vVXEwADiYyAEhwilzWsLw+9FgqpyjjStpPnpBO8o8S" crossorigin="anonymous">
        <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css" />
        <link rel="stylesheet" href="/css/style.css">
        <link href="https://allfont.net/allfont.css?fonts=raleway-bold" rel="stylesheet" type="text/css" />
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    </head>
    <body>
        
        <div class="container-fluid">
            <!--logo part-->
        
            
            <div class="top">
                <div class="const">
                    <ul>
                       <li><a href="/account"><i class="fa fa-user"></i> <%= username%> </a></li>
                        <!-- <li><a href="/cart"><i class="fas fa-shopping-cart"></i>Cart<span class="cartlogo_badge">0</span></a></li> -->
                    </ul> 
                </div>
                <div class="logo"> <img  src="/images/logo.jpeg"></div>
          
            </div>     
        
        
                <!--menu-->
                <div class="navbar">
                    <nav>
                        <ul>
            
                                <li><a class="active" href="/">HOME</a></li>
            
                                <li>
                                    <a href="#">BODY&BATH 
                                    <i class="fa fa-caret-down"></i>
                                    </a>
                                    <ul>
                                        <li><a href="/showergelallproducts">Shower Gel</a></li>
                                        <li><a href="/bodysoapallproducts">Body Soap</a></li>
                                        <li><a href="/bodyscruballproducts">Body Scrub</a></li>
                                        <li><a href="/bodybutterallproducts">Body Butter</a></li>
                                        <li><a href="/bodylotionallproducts">Body Lotion</a></li>
                                        
                                    </ul>
                                </li>
                                
            
                                <li>
                                    <a href="#">HAIR CARE
                                    <i class="fa fa-caret-down"></i>
                                    </a>
                                    <ul>
                                        <li><a href="/shampooallproducts">Shampoo</a></li>
                                        <li><a href="/conditionerallproducts">Conditioner</a></li>
                                        <li><a href="/hairoilallproducts">Hair Oil</a></li>
                                        <li><a href="/hairserumallproducts">Hair Serum</a></li>
                                    </ul>
                                </li>
                                <li>
                                    <a href="#">SKIN CARE 
                                    <i class="fa fa-caret-down"></i>
                                    </a>
                                    <ul>
                                        <li><a href="/facewashallproducts">Face Wash</a></li>
                                        <li><a href="/faceserumallproducts">Face Serums</a></li>
                                        <li><a href="/facescruballproducts">Face Scrub</a></li>
                                        <li><a href="/facemaskallproducts">Face Mask</a></li>
                                    </ul>
                                </li>
            
                                <li>
                                    <a href="#">FRAGRANCE 
                                    <i class="fa fa-caret-down"></i>
                                    </a>
                                    <ul>
                                        <li><a href="/perfumeallproducts">Perfume</a></li>
                                        <li><a href="/bodymistallproducts">Body Mist</a></li>
                                    </ul>
                                </li>
                                <li><a href="blog">BLOG</a></li>
                                <li><a href="aboutus">ABOUT US</a></li>
                                <li><a href="contactus">CONTACT US</a></li>
                        </ul>
            
                    </nav>
        
                </div>
                
                
        </div> 
    
    

            <section class="home" id="home">

                <div class="swiper home-slider">

                    <div class="swiper-wrapper">

                        <div class="swiper-slide box" style="background-image: url(images/1s.jpg); background-size: 100% 100%;">
                            <div class="content">
                                <h3>WELCOME</h3>
                                <p>TO GLAM-IT-UP</p>
                                <div class="button">
                                    <a href="#" class="btn1">Hurry up</a>
                                </div>
                            </div>
                        </div>

                        <div class="swiper-slide box" style="background-image: url(images/2s.jpg); background-size: 100% 100%;">
                            <div class="content">
                                <h3>ORGANIC PRODUCTS</h3>
                                <p>TOTALLY</p>
                                <div class="button">
                                    <a href="#" class="btn1">Check Now</a>
                                </div>
                            </div>
                        </div>

                        <div class="swiper-slide box" style="background-image: url(images/3s.jpg); background-size: 100% 100%;">
                            <div class="content">
                                <h3>LIMITED OFFER</h3>
                                <p>DON'T MISS IT</p>
                                <div class="button">
                                    <a href="#" class="btn1">Shop Now</a>
                                </div>
                            </div>
                        </div>
                        <div class="swiper-slide box" style="background-image: url(images/4s.jpg); background-size: 100% 100%;">
                            <div class="content">
                                <h3>VARIETIES OF PRODUCTS</h3>
                                <p>OF EACH CATEGORY</p>
                                <div class="button">
                                    <a href="#" class="btn1">Check Now</a>
                                </div>
                            </div>
                        </div>
                        <div class="swiper-slide box" style="background-image: url(images/5s.jpg); background-size: 100% 100%;">
                            <div class="content">
                                <h3>COMBO KITS</h3>
                                <p>AVAILABLE</p>
                                <div class="button">
                                    <a href="#" class="btn1">Check Now</a>
                                </div>
                            </div>
                        </div>

                    </div>

                    <div class="swiper-button-next"></div>
                    <div class="swiper-button-prev"></div>

                </div>

            </section>


        
            <section class="top-products">
                <div class="containers">
                    <h1 class="section-heading">Top Products</h1>
                    <div class="slider">
                        <button class="slider-btn prev-btn"><img src="./images/prev.png"></button>
                        <button class="slider-btn next-btn"><img src="./images/next.png"></button>
                        <div class="product-slider">
                            <div class="product-card">
                                <div class="product-image flex justify-center text-center">
                                    <img src="./images/fm1.jpeg">
                                </div>
                                <hr>
                                <div>
                                    <h2 class="text-center">Hyaluronic Face Mask</h2>
                                    <div class="stars flex justify-center text-center">
                                        <img src="./images/filled-star.png" width="5%" height="25px">
                                        <img src="./images/filled-star.png" width="5%" height="25px">
                                        <img src="./images/filled-star.png" width="5%" height="25px">
                                        <img src="./images/filled-star.png" width="5%" height="25px">
                                        <img src="./images/halffilled-star.png" width="5%" height="25px">
                                    </div>
                                    <div class="price text-center">
                                        Rs. 199
                                    </div>
                                    <div class="flex justify-center">
                                        <button>
                                            <img src="./images/add to cart.png">
                                            <a href="facemaskallproducts">
                                            <span>Add To Cart</span></a>
                                        </button>
                                    </div>
                                </div>
                            </div>
                            <div class="product-card">
                                <div class="product-image flex justify-center text-center">
                                    <img src="./images/p1.jpeg">
                                </div>
                                <hr>
                                <div>
                                    <h2 class="text-center">Wanderlust Perfume</h2>
                                    <div class="stars flex justify-center text-center">
                                        <img src="./images/filled-star.png" width="5%" height="25px">
                                        <img src="./images/filled-star.png" width="5%" height="25px">
                                        <img src="./images/filled-star.png" width="5%" height="25px">
                                        <img src="./images/filled-star.png" width="5%" height="25px">
                                        <img src="./images/filled-star.png" width="5%" height="25px">
                                    </div>
                                    <div class="price text-center">
                                        Rs. 1670
                                    </div>
                                    <div class="flex justify-center">
                                        <button>
                                            <img src="./images/add to cart.png">
                                            <a href="perfumeallproducts">
                                            <span>Add To Cart</span></a>
                                        </button>
                                    </div>
                                </div>
                            </div>
                            <div class="product-card">
                                <div class="product-image flex justify-center text-center">
                                    <img src="./images/s1.jpeg">
                                </div>
                                <hr>
                                <div>
                                    <h2 class="text-center">Coconut milk Shampoo</h2>
                                    <div class="stars flex justify-center text-center">
                                        <img src="./images/filled-star.png" width="5%" height="25px">
                                        <img src="./images/filled-star.png" width="5%" height="25px">
                                        <img src="./images/filled-star.png" width="5%" height="25px">
                                        <img src="./images/filled-star.png" width="5%" height="25px">
                                        <img src="./images/halffilled-star.png" width="5%" height="25px">
                                    </div>
                                    <div class="price text-center">
                                        Rs. 390
                                    </div>
                                    <div class="flex justify-center">
                                        <button>
                                            <img src="./images/add to cart.png">
                                            <a href="shampooallproducts">
                                            <span>Add To Cart</span></a>
                                        </button>
                                    </div>
                                </div>
                            </div><div class="product-card">
                                <div class="product-image flex justify-center text-center">
                                    <img src="./images/fm3.jpeg">
                                </div>
                                <hr>
                                <div>
                                    <h2 class="text-center">Cucumber Face Mask</h2>
                                    <div class="stars flex justify-center text-center">
                                        <img src="./images/filled-star.png" width="5%" height="25px">
                                        <img src="./images/filled-star.png" width="5%" height="25px">
                                        <img src="./images/filled-star.png" width="5%" height="25px">
                                        <img src="./images/filled-star.png" width="5%" height="25px">
                                        <img src="./images/filled-star.png" width="5%" height="25px">
                                    </div>
                                    <div class="price text-center">
                                        Rs. 100
                                    </div>
                                    <div class="flex justify-center">
                                        <button>
                                            <img src="./images/add to cart.png">
                                            <a href="facemaskallproducts">
                                            <span>Add To Cart</span></a>
                                        </button>
                                    </div>
                                </div>
                            </div><div class="product-card">
                                <div class="product-image flex justify-center text-center">
                                    <img src="./images/p15.jpeg">
                                </div>
                                <hr>
                                <div>
                                    <h2 class="text-center">Jasmine Perfume</h2>
                                    <div class="stars flex justify-center text-center">
                                        <img src="./images/filled-star.png" width="5%" height="25px">
                                        <img src="./images/filled-star.png" width="5%" height="25px">
                                        <img src="./images/filled-star.png" width="5%" height="25px">
                                        <img src="./images/filled-star.png" width="5%" height="25px">
                                        <img src="./images/halffilled-star.png" width="5%" height="25px">
                                    </div>
                                    <div class="price text-center">
                                        Rs. 1270
                                    </div>
                                    <div class="flex justify-center">
                                        <button>
                                            <img src="./images/add to cart.png">
                                            <a href="perfumeallproducts">
                                            <span>Add To Cart</span></a>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                
                </div>
            </section>
            <section class="big-deal">
                <div class="adv">
                   
                    <div class="gift">COMING SOON...</div>
                </div> 
               
            </section>

        
            <!-- <div id="footer">

            </div>

            <script>
                $(function(){
                $("#footer").load("footer.html");
                });
            </script> -->

            <!-- footer menu -->
    <%- include('includes/footer') %>
            

            
            <script src="https://unpkg.com/swiper@7/swiper-bundle.min.js"></script>
            <script type="text/javascript" src="https://code.jquery.com/jquery-1.11.0.min.js"></script>
            <script type="text/javascript" src="https://code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
            <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>
            <script src="js/index.js"></script> 
            <script src="js/slider.js"></script>
    </body>
</html>