<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1" name="viewport" />

    <title>Hair Care</title>
    

    <link rel="stylesheet" href="../css/style.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.8/css/all.css" integrity="sha384-3AB7yXWz4OeoZcPbieVW64vVXEwADiYyAEhwilzWsLw+9FgqpyjjStpPnpBO8o8S" crossorigin="anonymous">

</head>
<body>



<main class="container">
    <div class="custom-container">
        <h1 style="color: #d4af37">Hair Care</h1>
        <h6>Last Updated: September 23, 2021</h6>
        <img src="../images/hair.jpg" class="blog-page-cover" height="450px" width="700px">
        <span class="blog-content">
            <div class="blank"></div>
            <p>
                Hair care is important for not only our appearance, but also for our overall hygiene. Having healthy hair allows us to look our best and ensure our hair and scalp is healthy. It is important to visit a reputable salon and utilize quality hair care products to ensure your hair is as healthy as possible.</p>
            <div class="blank"></div>
            
            <p>
                <h3>How To Take Good Care Of Your Hair</h3>
            </p>
            <div class="normal"></div>
            <p>
            
            
                <p><strong>1. Wash Your Hair Regularly:</strong> Washing your hair regularly ensures that your scalp and hair is free of dirt and excess oil. However, the right frequency depends on your hair type and personal preferences. If you have extremely dry hair, limit your washing to twice a week. If you have an oily scalp, washing your hair on alternate days can help.</p>
                <p><strong>2. Use Chemical Free Shampoos:</strong> You really can’t control all the environmental factors that damage your hair, but what you can control is the kind of shampoos you use. Lesser the number of chemicals in your shampoo, healthier your hair. Go for gentle shampoos that suit your hair type.Sulfates and parabens in shampoos are used for lathering and preserving respectively, but they can cause skin irritation over time and increase the risk of hormonal disruptions.</p> 
                <p><strong>3. Condition Correctly:</strong> Your conditioner contains ingredients that make the hair fall straight and manageable. It protects your hair from environmental aggressors and heat styling. However, it should be applied only on the tips of the hair and not on your scalp. Also, make sure to rinse it off thoroughly post application.</p>
                <p><strong>4. Dry Your Hair Naturally:</strong> We know. Blow drying makes your hair as beautiful as that of your on-screen idol. But excessive heat styling can damage your hair scalp. Limit it to important events, if you have to style. Air drying or towel drying after shampoo is the best way to go. Never sleep in wet hair or comb wet hair. Harsh rubbing with a towel can damage the cuticle of your hair. Be gentle.</p>
                <p><strong>5. Oil Your Hair Properly:</strong> Pre-shampoo treatments like oiling and massaging improve blood circulation on the scalp, relax your muscles, boost shine and nourish the hair. It also restores moisture content, enables hair growth and repairs split ends. You can choose from coconut oil, almond oil, olive oil, castor oil and the likes. Avoid using mineral oil on your hair.</p>
                 </p>
        </span>
    </div>
</main>

<div class="clear-div"></div>


</body>
</html>