<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1" name="viewport" />

    <title>Coffee is Refreshing</title>
    

    <link rel="stylesheet" href="../css/style.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.8/css/all.css" integrity="sha384-3AB7yXWz4OeoZcPbieVW64vVXEwADiYyAEhwilzWsLw+9FgqpyjjStpPnpBO8o8S" crossorigin="anonymous">

</head>
<body>



<main class="container">
    <div class="custom-container">
        <h1 style="color: #d4af37"></h1>>Coffee is Refreshing</h1>
        <h6>Last Updated: September 23, 2021</h6>
        <img src="../images/coffee.jpg" class="blog-page-cover" height="450px" width="700px">
        <span class="blog-content">
            <div class="blank"></div>
            <p>
                Our day wouldn’t be the same without that first cup of coffee in the morning. The fresh aroma and bitter taste get us ready to tackle what lies ahead. But the benefits of coffee aren’t limited to just that. You’ve probably seen an increasing number of hair care products that use caffeine as an ingredient - and there’s a really good reason why. Let’s dive into why caffeine spiked products are all the rage right now, we’re here to spill the beans about the benefits of coffee for your hair.
            </p>
            
            <div class="blank"></div>
            
            <p>
                <h3>Benefits</h3>
            </p>
            <div class="normal"></div>
            <p>
            
            
                <p><strong>Bye Bye Hairfall:</strong>We all agree that dealing with hair fall is nerve-racking, but one way to nip it in the bud is to introduce coffee to your haircare regime. The caffeine in coffee promotes hair growth by targeting what’s called DHT. This hormone damages the hair follicles and increases hair loss. Coffee helps in blocking the action of DHT - leaving us with growing, healthy hair. Check out this Coffee Shampoo that’s also enriched with Argan oil for a deeper cleanse and helps to lessen hair fall.</p>
                <p><strong>Hello Healthy Hair:</strong>Caffeine is great for restoring dull or dry hair. The antioxidants present in coffee give the hair a boost of nourishment. Additionally coffee is great for adding moisture to the hair. If you have a tough time styling the lion’s mane aka frizzy hair, give coffee a shot. You’ll be welcomed by smoother, shinier and softer hair.</p> 
                <p><strong>Dandruff Control:</strong>We all want to avoid the embarrassment associated with dandruff, and coffee can help with that! Dandruff is mostly caused by excess oil or product buildup in the scalp. This is why it’s super important to cleanse the scalp thoroughly. Coffee is a great exfoliator that gets rid of dandruff-causing microbes from the scalp. It also doubles up as a root stimulator, which in turn means better hair growth.</p>
                <p><strong>Improved Blood Circulation:</strong>Caffeine is known to stimulate blood circulation in the scalp. Improved circulation provides better nourishment to the hair follicles, making them stronger. Coffee infused products are a good way to add a kick of caffeine. Our favourite is this Coffee Hair Care Duo. The combo contains a coffee shampoo and scalp scrub, suitable for all hair types. If you’ve never used a scalp scrub before, you’re missing out! Think of it as an exfoliator for your scalp. Much like our skin, our scalp also accumulates excess oil and dirt in the follicles - this severely hampers hair growth. That’s where scrubs come in. They exfoliate and clean the scalp, removing any impurities that shampoo might not be able to target. Scrubs are also super useful to get rid of dandruff effectively.</p>
                 </p>
        </span>
    </div>
</main>

<div class="clear-div"></div>


</body>
</html>