<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1" name="viewport" />

    <title>All About Perfumes</title>
    

    <link rel="stylesheet" href="../css/style.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.8/css/all.css" integrity="sha384-3AB7yXWz4OeoZcPbieVW64vVXEwADiYyAEhwilzWsLw+9FgqpyjjStpPnpBO8o8S" crossorigin="anonymous">

</head>
<body>



<main class="container">
    <div class="custom-container">
        <h1 style="color: #d4af37"></h1>>All About Perfumes</h1>
        <h6>Last Updated: September 23, 2021</h6>
        <img src="../images/perfume.jpg" class="blog-page-cover" height="450px" width="700px">
        <span class="blog-content">
            <div class="blank"></div>
            <p>Floral, Gourmand, Chypre, Fruit....and the list goes on.  With so many perfume options out there and so many decisions to make, sometimes it can be really difficult to navigate through the world of fragrance. This is especially true when you notice a new perfume online and your nose hasn't been able to experience it yet.</p>
            <div class="blank"></div>
            
            <p>
                <h3>Fruity perfumes</h3>
            </p>
            <div class="normal"></div>
            
                <p>Fruity perfumes usually burst out with ripe, fresh edible fruity notes that feature the scent of fruits other than citrus, such as peach, black currant, mango, passion fruit, and others. With all of the different fruity perfumes out there, it can be hard to choose the right one that is going to work for you! Fruity notes beyond citrus (which form a class of its own) have become so popular in recent years that they deserve a category of their own. They are used in men & women perfumes extensively & are adored all over the world.</p>

            

             <div class="blank"></div>
            
                 <p>
                     <h3>Body mist</h3>
                 </p>
                 <div class="normal"></div>
                 <p>a body mist is lighter, softer and less concentrated. Body mists and spritzers offer a pleasant all-over scent without being overpowering.Lasting up to 4 hours, the longevity of a body mist is shorter than that of perfume, so you’ll need to top up your body mist throughout the day to keep the beautiful scent lasting longer. But, it’s well worth it for a subtle boost of fragrance throughout the day.The shorter life span of body mists means they are often available in larger sizes and at a fraction of the price of perfume, giving you even more reason to keep spritzing all day long. </p>

        </span>
    </div>
</main>

<div class="clear-div"></div>


</body>
</html>